.overview-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #1c2530;
  border-radius: 12px;
  padding: 12px;
  flex: 1;
}

.overview-count {
  font-size: 32px;
  font-weight: bold;
}

.overview-title {
  font-size: 14px;
  color: #a3b1c6;
}
