.task-container {
  font-size: 14px;
  background: #111111;
  padding: 10px 16px;
}

.task-content {
  display: flex;
  flex-direction: column;
}

.task-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 12px;
  word-break: break-word;
}

.task-title {
  font-size: medium;
  font-weight: bold;
}

.task-edit-input-title,
.task-edit-input-description {
  flex: 1;
  background: transparent;
  outline: none;
  color: #9ca3af;
  font-size: 14px;
  padding: 5px;
}

.task-edit-input-title {
  border: none;
  border-bottom: 1px solid #3f3f3f;
}

.task-edit-input-description {
  padding: 5px;
  border: 1px solid #3f3f3f;
  border-radius: 8px;
  resize: none;
}

.task-edit-input-title:focus,
.task-edit-input-description:focus {
  outline: none;
  border-color: #f3f4f6;
}

.task-controls {
  display: flex;
  gap: 12px;
}

.delete-button,
.edit-button {
  background: transparent;
  border: none;
  color: #888;
  cursor: pointer;
  transition: 0.2s ease;
}

.edit-button:hover {
  color: white;
  transform: scale(1.1);
}

.delete-button:hover {
  color: #ff4d4f;
  transform: scale(1.1);
}

.task-edit-save-button,
.task-edit-cancel-button {
  background: transparent;
  border: none;
  font-size: 14px;
  color: #9ca3af;
  cursor: pointer;
  transition: 0.2s ease;
}

.task-edit-save-button:hover,
.task-edit-cancel-button:hover {
  color: white;
  transform: scale(1.1);
}

.task-container div {
  padding: 2px;
}
